In [1]:
# SQL Alchemy
from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

# Config variables
import config
from config import remote_db_endpoint, remote_db_port
from config import remote_db_name, remote_db_user, remote_db_pwd

# Import Pandas
import pandas as pd

## ETL

This code segment will migrate data from a local csv to your MySQL database hosted on AWS

In [2]:
# Cloud MySQL Database Connection on AWS
cloud_engine = create_engine(f"mysql://{remote_db_user}:{remote_db_pwd}@{remote_db_endpoint}:{remote_db_port}/{remote_db_name}")

# Create a remote database engine connection
cloud_conn = cloud_engine.connect()

In [3]:
county_expenditures = pd.read_csv('/Users/akahn20/Desktop/county_expenditures/totalcountydata.csv')
county_expenditures.head()

            county        department expenditures_ytd  fiscal_year        bin
0  Prince George's  CENTRAL SERVICES       20919764.5         2016  Governing
1  Prince George's  CENTRAL SERVICES      40274898.19         2017  Governing
2  Prince George's  CENTRAL SERVICES      40695079.64         2014  Governing
3  Prince George's  CENTRAL SERVICES      41901624.04         2015  Governing
4  Prince George's  CENTRAL SERVICES       44508550.5         2018  Governing

In [4]:
county_expenditures.to_sql(name='ncr_county_expenditures', if_exists='append', con=cloud_conn, index=False)

In [5]:
# read in from AWS to test
pd.read_sql("SELECT * FROM ncr_county_expenditures", cloud_conn)

,county,department,expenditures_ytd,fiscal_year,bin
0,Prince George's,CENTRAL SERVICES,20919764.5,2016,Governing
1,Prince George's,CENTRAL SERVICES,40274898.19,2017,Governing
2,Prince George's,CENTRAL SERVICES,40695079.64,2014,Governing
3,Prince George's,CENTRAL SERVICES,41901624.04,2015,Governing
4,Prince George's,CENTRAL SERVICES,44508550.5,2018,Governing
...,...,...,...,...,...
2245,Arlington,Voter Registration (REG),1479070,2017,Governing
2246,Arlington,Voter Registration (REG),1109336,2018,Governing
2247,Arlington,Voter Registration (REG),1144229,2019,Governing
2248,Arlington,Voter Registration (REG),1459522,2020,Governing
2249,Arlington,Voter Registration (REG),1402432,2021,Governing